:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  position: relative;

  aside {

    @media (max-width: 514px) {
      min-width: 325px;
    }

    @media (min-width: 515px) {
      min-width: 467px;
    }

    @media (min-width: 715px) {
      min-width: 667px;
    }

    @media (min-width: 1080px) {
      min-width: 400px;
    }

    min-width: 400px;

    background: url("../../../assets/intro.png") no-repeat center;
    background-size: contain;

    .overlay {
      width: 100%;
      height: 100%;
      background-color: #232323f5;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      border: 1px solid #444;
      border-radius: 15px;

      .actions {
        button {
          border: none;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }


}


.board {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: fit-content;
  gap: 0.25rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding-inline-start: 0.50rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 0.25rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.rotated {
  transform: rotate(180deg);
}

.row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
  color: var(--accent-color);



  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    height: 0;
    width: 0;
    background-color: #1C64F2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 18px -6px inset;

    visibility: hidden;
  }
}

.board-square {
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 18px -6px inset;
}

.flipped-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px -15px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px -18px 18px -6px inset;
}


.promotion-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 15px;

  .square {
    &:hover {
      &::after {
        animation: fullUp 0.25s forwards;
      }
    }

  }
}

.promotion-dialog img {
  height: 70px;
  cursor: pointer;
}

.close-promotion-dialog {
  font-size: 45px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 1rem;
  right: 2rem;
  transition: 0.25s ease;

  &:hover {
    color: #1C64F2;
  }
}

.dark {
  background-color: var(--primary-color);
}

.light {
  background-color: white;
}

.piece {
  width: 60px;
  filter: grayscale(100) brightness(0.8) contrast(1.5);
}

.selected-square {
  &::after {
    animation: fullUp 0.25s forwards;
  }
}



.safe-square {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  background-color: #1c63f280;
  border-radius: 50%;
  z-index: 100;
  animation: full-up 0.25s forwards;
}



.king-in-check {
  background-color: #E02424;
}

.last-move {
  background-color: #0E9F6E;
}

.promotion-square {
  background-color: #FACA15;
}

@keyframes fullUp {
  to {
    height: 75px;
    width: 75px;
    visibility: visible;
  }
}

@keyframes fullUp-medium {
  to {
    height: 50px;
    width: 50px;
    visibility: visible;
  }
}

@keyframes fullUp-small {
  to {
    height: 32px;
    width: 32px;
    visibility: visible;
  }
}

@keyframes full-up {
  to {
    height: 20px;
    width: 20px;
    visibility: visible;
  }
}

@keyframes full-up-medium {
  to {
    height: 15px;
    width: 15px;
    visibility: visible;
  }
}

@keyframes full-up-small {
  to {
    height: 10px;
    width: 10px;
    visibility: visible;
  }
}

@media (min-width: 515px) and (max-width: 715px) {

  .square {
    height: 50px;
    width: 50px;
  }

  .safe-square {
    animation: full-up-medium 0.25s forwards;
  }

  .selected-square {
    &::after {
      animation: fullUp-medium 0.25s forwards;
    }
  }

  .piece {
    width: 40px;
  }

  .promotion-dialog {
    .square:hover {
      &::after {
        animation: fullUp-medium 0.25s forwards;
      }
    }
  }
}

@media (max-width: 514px) {
  .square {
    height: 32px;
    width: 32px;
  }

  .safe-square {
    animation: full-up-small 0.25s forwards;
  }

  .selected-square {
    &::after {
      animation: fullUp-small 0.25s forwards;
    }
  }

  .piece {
    width: 25px;
  }

  .promotion-dialog {
    .square:hover {
      &::after {
        animation: fullUp-small 0.25s forwards;
      }
    }
  }
}