:host {
  // min-height: 100svh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-items: center;
  padding-block: 2rem;
  gap: 1rem;
  position: relative;

  #chess-board {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  aside {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 15px;
    padding: 1rem;

    .actions {
      button {
        border: none;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  @media (max-width: 1080px) {
    #chess-board {
      flex-direction: column;
      padding-inline: -5rem;
    }

    .message {
      h2 {
        font-size: 16px;
      }
    }
  }
}

.lost-pieces {
  width: 600px;

  &>div {
    display: flex;
    flex-wrap: wrap;
  }
}

#lost-pieces.board {
  width: 52px;

  @media (max-width: 1080px) {
    width: 644px
  }

  .square {
    height: 36px;
    width: 36px;

    .piece {
      width: 25px;
    }
  }
}

.board {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: fit-content;
  gap: 0.25rem;
  background-color: rgba(255, 255, 255, 0.75);
  padding-inline-start: 0.50rem;
  padding-inline-end: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 0.25rem;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.rotated {
  transform: rotate(180deg);
}

.row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
  color: var(--accent-color);



  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    height: 0;
    width: 0;
    background-color: #1C64F2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 18px -6px inset;

    visibility: hidden;
  }
}

.board-square {
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 18px -6px inset;
}



.promotion-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 15px;

  .square {
    &:hover {
      &::after {
        animation: fullUp 0.25s forwards;
      }
    }

  }
}

.promotion-dialog img {
  height: 70px;
  cursor: pointer;
}

.close-promotion-dialog {
  font-size: 45px;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 1rem;
  right: 2rem;
  transition: 0.25s ease;

  &:hover {
    color: #1C64F2;
  }
}

.dark {
  // background-color: #779AAF;
  // background-color: #323232;
  // background-color: #6B7280;
  background-color: var(--primary-color);
  // background-color: black;
}

.light {
  background-color: white;
}

.piece {
  width: 60px;
  filter: grayscale(100) brightness(0.8) contrast(1.5);
}

.selected-square {

  // box-shadow: inset #6b7280 0px 0px 16px 0px, inset #9CA3AF 0px 0px 16px 0px;
  &::after {
    animation: fullUp 0.25s forwards;
  }
}



.safe-square {
  position: absolute;
  height: 0;
  width: 0;
  visibility: hidden;
  // background-color: #bbb;
  background-color: #1c63f280;
  border-radius: 50%;
  z-index: 100;
  animation: full-up 0.25s forwards;
}



.king-in-check {
  // box-shadow: inset #E02424 0px 0px 40px 0px, inset #F05252 0px 0px 40px 0px;
  background-color: #E02424;
}

.last-move {
  // box-shadow: inset #057A55 0px 0px 40px 0px, inset rgb(6, 179, 0) 0px 0px 40px 0px;
  background-color: #0E9F6E;
}

.promotion-square {
  // box-shadow: inset #1C64F2 0px 0px 16px 0px, inset #76A9FA 0px 0px 16px 0px;
  background-color: #FACA15;
}

@keyframes fullUp {
  to {
    height: 75px;
    width: 75px;
    visibility: visible;
  }
}

@keyframes fullUp-small {
  to {
    height: 35px;
    width: 35px;
    visibility: visible;
  }
}

@keyframes full-up {
  to {
    height: 20px;
    width: 20px;
    visibility: visible;
  }
}

@keyframes full-up-small {
  to {
    height: 10px;
    width: 10px;
    visibility: visible;
  }
}

@media (max-width: 680px) {
  #lost-pieces.board {
    width: 100%;
    max-width: 320px;
    border-radius: 10px;

    .square {
      height: 16px;
      width: 16px;
      border-radius: 5px;

      .piece {
        width: 10px;
      }
    }
  }

  .square {
    height: 35px;
    width: 35px;
  }

  .safe-square {
    animation: full-up-small 0.25s forwards;
  }

  .selected-square {
    &::after {
      animation: fullUp-small 0.25s forwards;
    }
  }

  .piece {
    width: 25px;
  }

  .promotion-dialog {
    .square:hover {
      &::after {
        animation: fullUp-small 0.25s forwards;
      }
    }
  }
}