<img src="assets/intro.png" alt="chess" />
<nav>
  <button class="chess-btn" (click)="gameType.set('local'); startGame()">
    Local Game
  </button>
  <button
    class="chess-btn"
    (click)="optionsDialogState = 'open'; gameType.set('stockfish')"
  >
    Play against a computer
  </button>
  <button
    class="chess-btn"
    (click)="optionsDialogState = 'open'; gameType.set('friend')"
  >
    Play against a friend
  </button>
</nav>
@if(optionsDialogState === 'open'){ @if(gameId === undefined) {
<div class="dialog">
  <img src="assets/intro.png" alt="chess" />
  @if(gameType() === 'friend') {
  <div class="actions">
    <small>Nickname</small>
    <input
      #nikname
      (change)="user = nikname.value"
      type="text"
      placeholder="John Doe"
      required
      minlength="3"
      maxlength="20"
    />
  </div>

  } @if(gameType() === 'stockfish') {

  <div class="actions">
    <small>Level</small>
    @for(level of stockfishLevel; track level) {
    <button
      class="chess-btn"
      (click)="this.currenStockfishLevel = level"
      [ngClass]="{ selected: level === currenStockfishLevel }"
    >
      {{ level }}
    </button>
    }
  </div>
  }
  <div class="actions">
    <small>Pieces Color</small>
    <button
      class="chess-btn"
      [ngClass]="{ selected: piecesColor === 'w' }"
      (click)="piecesColor = 'w'"
    >
      White
    </button>
    <button
      class="chess-btn"
      [ngClass]="{ selected: piecesColor === 'b' }"
      (click)="piecesColor = 'b'"
    >
      Black
    </button>
  </div>

  <button type="submit" class="chess-btn play" (click)="startGame()">
    {{ gameType() === "friend" ? "Create Game" : "Start Game" }}
  </button>

  <span class="close-dialog" (click)="optionsDialogState = 'close'">
    &times;
  </span>
</div>
} @else {
<div class="dialog">
  <img src="assets/intro.png" alt="chess" />
  <div class="actions">
    <small>Game Link You Can Share</small>
    <input
      type="text"
      [value]="gameLink"
      style="min-width: 350px; max-width: 90%"
    />
  </div>
  <div class="flex">
    <button
      class="chess-btn"
      [ngClass]="{ copied: isCopied }"
      (click)="copyLink()"
    >
      {{ isCopied ? "Copied !" : "Copy Link" }}
    </button>
    <button class="chess-btn" (click)="joinGame()">Join Game</button>
  </div>
</div>
} }
